documents/


# Dependencies
node_modules/
**/node_modules/

# IDE-specific files
.idea/
.vscode/

# Build outputs
dist/
build/

# VitePress cache
docs/.vitepress/cache/

# Logs and private files
*.log
*.tmp
.DS_Store

# Coverage reports
coverage/
*/coverage/requirements/
